@media only screen and (min-width:800px) {
    .header {
        display: block;
        height: 35px;
        line-height: 35px;
        background: #4f4f4f;
        color: #ece7e7;
        font-family: "微软雅黑";
        font-size: 12px;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
    .header a {
        color: #ECE7E7;
    }
    .header a:hover {
        text-decoration: none;
    }
}

@media only screen and (min-width: 100px) and (max-width:800px) {
    .header {
        display: block;
        height: 35px;
        line-height: 35px;
        background: #4f4f4f;
        color: #ece7e7;
        font-family: "微软雅黑";
        font-size: 12px;
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
    .h-hide {
        display: none;
    }
    .header a:hover {
        text-decoration: none;
    }
}

.h-right {
    float: right;
}

.juli {
    margin-right: 20px;
}

.to-top {
    position: fixed;
    right: 80px;
    bottom: 5px;
}
.to-top a img {
    width: 40px;
    padding: 10px;
    background: #fff;
    opacity: .6;
    border-radius: 6px;
}

/* ---------------------------------------------------------------------------- 
/* -----------------------------------导航栏------------------------------- 
/* ---------------------------------------------------------------------------- */

@media only screen and (min-width: 100px) and (max-width: 800px) {
    #fixedMenu {
        width: 100%;
        background: #fff;
        z-index: 999;
        position: fixed;
        top: 35px;
    }
}

@media only screen and (min-width:800px) {
    #fixedMenu {
        width: 100%;
        background: #fff;
        z-index: 999;
        position: fixed;
        top: 35px;
    }
}

.navbar {
    min-height: 80px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: transparent;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
    margin-top: 30px;
}

.navbar-default .navbar-nav > li > a {
    font-family: "微软雅黑";
    font-size: 16px;
    color: #009ce5;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #eb601b;
    border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #EB601B;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #EB601B;
    background-color: transparent;
}

.sanxian {
    display: none;
}


/*toggle*/

@media only screen and (min-width: 100px) and (max-width:1000px) {
    .sanxian {
        display: block;
        line-height: 30px;
    }
    .nav-toggle {
        display: block;
        width: 35px;
        height: 30px;
        background: #eb601b;
        border-radius: 3px;
        position: absolute;
        right: 30px;
        top: 40px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        font-size: 16px;
        border: 1px solid red;
    }
}

@media only screen and (min-width: 100px) and (max-width:1000px) {
    .navbar-collapse {
        display: none;
    }
    .m-nav {
        display: none;
        background: #2d2d2d;
        width: 100%;
        font-size: 14px;
        font-family: "微软雅黑";
        z-index: 9999;
    }
    .m-nav a {
        color: #fff;
    }
    .m-nav a:hover {
        text-decoration: none;
    }
    .m-nav-1 {
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #666;
    }
    .m-nav-2 {
        display: block;
    }
    .nav-xs {
        float: right;
        line-height: 40px;
    }
}

@media only screen and (min-width:1000px) {
    .m-nav {
        display: none;
    }
    .m-nav-1 {
        display: none;
    }
    .m-nav-2 {
        display: none;
    }
}

.line {
    width: 100%;
    hight: 1px;
    border-bottom: 2px solid #D5D5D5;
    margin-top: 50px;
}

.title {
    display: inline-block;
    font-size: 25px;
    color: #666;
    position: relative;
    top: -20px;
    padding: 0 10px;
}

.cic-tit {
    font-size: 20px;
    color: #2d2c2c;
    padding: 20px 0;
}

.cic-box {
    padding: 10px;
    text-align: left;
    width: 60%;
    border: 1px solid #D5D5D5;
    margin: 0 auto;
    height: 90px;
}

.succimg {
    padding: 35px 0;
}

.cic {
    padding: 20px 0;
}

.cicimg,
.cicimg2,
.cicimg3 {
    width: 226px;
}


/*boxboxboxbox*/

.w-box {
    width: 226px;
    height: 226px;
    margin: 0 auto;
    position: relative;
}

.l-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 113px;
    background: #204D74;
    opacity: 0;
}

.c-box {
    width: 90px;
    height: 90px;
    background: #009CE5;
    border-radius: 50px;
    position: absolute;
    top: 68px;
    left: 0px;
    opacity: 0;
    z-index: 99;
}

.s-box {
    position: absolute;
    font-size: 35px;
    color: #fff;
    top: 95px;
    right: 0px;
    opacity: 0;
    z-index: 99;
}

.s-box a {
    color: #fff;
}

.succ_img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.more {
    text-align: center;
}

.more p {
    padding: 10px 0;
    font-size: 20px;
    font-family: "微软雅黑";
}

.more a {
    color: #00a0e9;
}

.more a:hover {
    text-decoration: none;
    color: #00a0e9;
}

.four {
    width: 245px;
    height: 218px;
    margin: 20px auto;
    background-size: 100% 100%;
}

.four2 {
    background: url(../img/index_88.png) no-repeat;

}

.four3 {
    background: url(../img/index_90.png) no-repeat;
}

.four4 {
    background: url(../img/index_92.png) no-repeat;
}


/* ---------------------------------------------------------------------------- 
/* ------------------------------------客服------------------------------- 
/* ---------------------------------------------------------------------------- */

.fixed_kefu {
    position: fixed;
    bottom: 50px;
    right: 3px;
    width: 120px;
    background: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "微软雅黑";
    z-index: 9999;
}

.fixed_kefu_1 {
    width: 100%;
    height: 70px;
    background: #00b7ee;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.fixed_kefu_2 {
    width: 118px;
    position: relative;
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #666;
    line-height: 0.8;
    border-left: 1px solid #D5D5D5;
    border-right:  1px solid #D5D5D5;
}

p {
    margin: 0;
    padding: 0;
}

.close_kefu {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

.nf_line {
    padding: 0 10px;
    margin-top: 15px;
}

.nf_line_2 {
    border-bottom: 1px solid #D5D5D5;
}

.nf_foot_p {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #00b7ee;
    font-size: 14px;
}

@media only screen and (min-width: 100px) and (max-width: 640px) {
    .fixed_kefu {
        display: none
    }
}


/* ---------------------------------------------------------------------------- 
/* ------------------------------------footer------------------------------- 
/* ---------------------------------------------------------------------------- */

footer {
    margin-top: 40px;
    height: 125px;
    width: 100%;
    background-color: #4a4a4a;
    text-align: center;
}

.Lfoot {
    line-height: 75px;
}

.Lfoot img {
    height: 30px;
}

.Lfoot p {
    color: #AEAEAE;
    line-height: 1.8;
    font-size: 12px;
    font-family: "微软雅黑", "黑体", "新宋体", "Arial Unicode MS"
}


/*导航区Pc重写*/

@media only screen and (min-width:1000px) {
    .logo {
        width: 200px;
        margin-top: 20px;
    }
    .nav-show {
        z-index: 999;
        background: #fff;
        float: right;
        height: 75px;
        font-size: 14px;
        font: "微软雅黑";
        position: relative;
    }
    .navli {
        height: 75px;
        display: inline-block;
        line-height: 90px;
        padding: 0 20px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        border-top: 3px solid #fff;
    }
    .navli-sec {}
    .selct {
        border-left: 1px solid #E5E5E5;
        border-right: 1px solid #E5E5E5;
        border-top: 3px solid #fb3e02;
    }
    .nav-show2 li {}
    .nav-show a:hover {
        color: #FA3E04;
        text-decoration: none;
    }
    .default>a {
        color: #FA3E04;
    }
    .down-con {
        display: none;
        z-index: 1;
        position: absolute;
        background: #fff;
        border-top: 1px solid #D5D5D5;
        width: 900px;
        background: #fff;
        left: 0;
        top: 75px;
    }
    .down-con ul {
        display: inline-block;
        margin: 30px;
        line-height: 30px;
    }
    .down-con a:hover {
        color: #FA3E04;
    }
}

@media only screen and (min-width: 100px) and (max-width:1000px) {
    .nav-show {
        display: none;
    }
    .logo {
        margin-top: 20px;
        width: 160px;
    }
}


/*选中时*/

.tt-right {
    font-size: 8px;
    position: relative;
    right: 3px;
    top: -1px;
    color: #f83c0c;
}


/*客服*/

.kefuimg {
    position: fixed;
    right: 0;
    top: 48%;
    z-index: 9999;
}

.kefu_main {
    position: fixed;
    right: -400px;
    top: 48%;
    width: 400px;
    height: 130px;
    border: 1px solid #D5D5D5;
    border-left: 15px solid #009CE5;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: #fff;
    z-index: 99999;
}


/*小三角*/

.selt {
    font-size: 7px;
    position: relative;
    top: -1px;
    color: #FA3E04;
    margin-right: 5px;
}

.margintop {
    margin-top: 110px;
}

.hover {
    cursor: pointer;
}


/*footer*/

@media only screen and (min-width:480px) {
    .xs-hide {
        display: inline-block
    }
    .xs-show {
        display: inline-block
    }
}

@media only screen and (min-width: 100px) and (max-width:480px) {
    .xs-hide {
        display: none;
    }
    .xs-show {
        display: block
    }
}


/*more*/

@media only screen and (min-width:640px) {
    .time {
        font-size: 24px;
        top: -60px;
        margin-left: 50px
    }
}

@media only screen and (min-width: 100px) and (max-width: 640px) {
    .time {
        font-size: 11px;
        top: -15px;
        margin-left: 15px
    }
    .fixed_kefu {
        display: none
    }
}

.time {
    color: red;
    position: relative;
    z-index: 9999;
}

#section2 .flex-prev,
#section2 .flex-next {
    display: none;
}


/* ---------------------------------------------------------------------------- 
/* ------------------------------------priductions------------------------------- 
/* ---------------------------------------------------------------------------- */

@media only screen and (min-width:1200px) {
    .teshu3 {
        padding: 160px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .teshu3 {
        padding: 90px 0;
    }
}

@media only screen and (min-width: 100px) and (max-width:768px) {
    .teshu3 {
        padding: 20PX 0;
    }
}

@media only screen and (min-width:1200px) {
    .teshu2 {
        padding: 140px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .teshu2 {
        padding: 90px 0;
    }
}

@media only screen and (min-width: 100px) and (max-width:768px) {
    .teshu2 {
        padding: 20PX 0;
    }
}

.hua-img {
    width: 100%;
}

.hover0 {
    width: 273px;
    height: 100px;
    background: url(../image/ydzdxt/65465.png);
    margin: 0 auto;
}

.hover1 {
    width: 273px;
    height: 100px;
    background: url(../image/sjtjfx/hover2.png);
    margin: 0 auto;
}

.hover2 {
    width: 273px;
    height: 100px;
    background: url(../image/wcxxgl/65465.png);
    margin: 0 auto;
}

.hover:hover {
    background-position: 0px -100px;
}


/**/

.cirle {
    color: #62cfcf;
}

@media only screen and (min-width:1500px) {
    .teshu {
        width: 300px;
        margin: 0 auto;
        padding: 110px 0px;
        line-height: 2;
        position: relative;
        left: 120px;
    }
}

@media only screen and (min-width:767px) and (max-width:1500px) {
    .teshu {
        width: 300px;
        margin: 0 auto;
        padding: 110px 0px;
        line-height: 2;
    }
}

@media only screen and (min-width: 100px) and (max-width:767px) {
    .teshu {
        width: 300px;
        margin: 0 auto;
        padding: 30px 0px;
        line-height: 2;
    }
}

@media only screen and (min-width: 100px) and (max-width: 1200px) {
    .img-xs {
        width: 95%;
    }
}

@media only screen and (min-width: 100px) and (max-width: 640px) {
    .baohe7 {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .baohe4 {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:640px) {
    .baohe7 {
        margin-top: 30px;
    }
}

@media only screen and (min-width:100px) and (max-width:700px) {
    .title {
        width: 90%;
    }
}
 .dance {
            margin: 0 auto;
            line-height: 2;
        }
        
        @media only screen and (min-width:100px) and (max-width:767px) {
            .dance {
                width: 75%;
            }
        }
        
        @media only screen and (min-width:767px) and (max-width:992px) {
            .dance {
                padding: 60px 0;
                width: 80%;
            }
        }
        
        @media only screen and (min-width: 992px) and (max-width:1200px) {
            .dance {
                padding: 100px 0;
                width: 80%;
            }
        }
        
        @media only screen and (min-width:1200px) and (max-width:1600px) {
            .dance {
                padding: 130px 0;
                width: 70%;
            }
        }
        
        @media only screen and (min-width:1600px) {
            .dance {
                padding: 140px 0;
                width: 70%;
            }
        }
        
        
        @media only screen and (min-width:768px) {
            .tiao {
                padding: 50px 30px;
            }
            .tishi {
                padding: 150px 30px;
                color: #666;
            }
            .tishi2 {
                padding: 150px 0;
            }
            .teshu3 {
                padding: 100px 0;
            }
        }
        
        @media only screen and (min-width: 100px) and (max-width: 768px) {
            .tishi {
                padding: 30px 30px;
                color: #666;
            }
            .tishi2 {
                padding: 20px 0;
            }
        }


        /*信息采集设备*/
        @media only screen and (min-width: 100px) and (max-width:768px) {
            .julik3 {
                padding: 30px 0px;
                text-align: center;
            }
            .julikt {
                padding: 20px 0px;
                text-align: center;
            }
            .julik5 {
                padding: 50px 0px;
                text-align: center;
            }
            .julik6 {
                padding: 50px 0px;
                text-align: center;
            }
        }
        
        @media only screen and (min-width:768px) {
            .julik3 {
                padding: 50px 0px;
                text-align: center;
            }
            .julikt {
                padding: 50px 0px;
                text-align: center;
            }
            .julik5 {
                padding: 100px 30px;
                text-align: center;
            }
            .julik6 {
                padding: 180px 30px;
                text-align: center;
            }
        }
        
        @media only screen and (min-width:800px) {
            .img-btn {
                position: absolute;
                right: 30%;
                top: 70%;
                width: 12%;
            }
        }
        
        @media only screen and (min-width: 100px) and (max-width: 800px) {
            .img-btn {
                position: absolute;
                right: 30%;
                top: 65%;
            }
        }
        
        
        @media only screen and (min-width:1500px) {
            .teshu {
                width: 300px;
                margin: 0 auto;
                padding: 110px 0px;
                line-height: 2;
                position: relative;
                left: 120px;
            }
        }
        
        @media only screen and (min-width:767px) and (max-width:1500px) {
            .teshu {
                width: 300px;
                margin: 0 auto;
                padding: 110px 0px;
                line-height: 2;
            }
        }
        
        @media only screen and (min-width: 100px) and (max-width:767px) {
            .teshu {
                width: 300px;
                margin: 0 auto;
                padding: 30px 0px;
                line-height: 2;
            }
        }